/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  body
*/

body {
  font: 300 16px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: grey;
  width: 1080px;
  margin: 0 auto;
}

button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 5px;
    margin-right: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

/*
  Header
*/
.primary-header {
  width: auto;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.headline {
  padding: 39px;
  font-size: 50px;
  font-weight: bold;
}


/*
  content
*/
h2 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}
.latest {
  width: 390px;
  text-align: center;
  margin: 40px 50px 20px 50px;
  padding: 15px 32px;
}

.filtering {
  width: 350px;
  height: auto;
  margin: 20px 50px;
  padding: 20px;
  background: blue;
  border-radius: 10px;
}

.following {
  width: 350px;
  height: auto;
  margin: 40px 50px;
  padding: 20px;
  background: yellow;
  border-radius: 10px;
}

.stage {
  width: 100%;
  height: auto;
}

.stage-left {
  width: 460px;
  float: left;
}
.hero {
  width: 490px;
  min-width: 200px;
  height: auto;
  padding: 20px;
  margin-right: 50px;
  margin-top: 40px;
  float: right;
  text-align: center;
  color: white;
  background: green;
  border-radius: 10px;

}

.hero div:nth-child(even) {
  color: black;
  font-size: -1em;
}
